<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hackstack node task</title>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <div class="heading">
            <h1>To-Do List</h1>
        </div>
        <form class="form" action="/submit" method="POST">
            <input type="text" placeholder="New item" name="task">
            <button type="submit"><span>Add</span></button>
        </form>
        <ul>
            <% for (let i = 0; i < tasks.length; i++) { %>
                <li><%= tasks[i] %></li>
            <% } %>
        </ul>
    </div>
</body>
</html>

